{% extends 'base.html.twig' %}



<div class="col-md-12">
    <div class="row">
        {% for event in eventOwner %}
        <div class="card col-md-4">
            <div class="card-body">
                <h4 class="card-title">{{ event.name }}</h4>
                <p class="card-text">{{ event.place }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>