.navbar-custom{
    background: white;
    min-height:80px;
}
.business-header{
    height:600px;
    background-color: captiontext;
}
/**barre de recherche principale **/
.recherche{
    margin-top: 120px;
    height: 8vh;
    padding:2px;
}
