
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    outline: none !important;
}

*:focus {
    outline: none;
}

body {
    padding-top: 92px;
    font-family: 'Raleway', sans-serif;
}

.container-fluid{
    padding:0;
}

p {
    margin: 0;
}


/** Media queries **/
@media (min-width: 992px) {
    body {
        padding-top: 92px;
    }
}

@media (max-width: 768px) {
    .btn-container {
        display: none;
    }
    .hit-image {
        height: max-content;
    }
}


/** Zone de Navigation **/
nav .text-custom{
    color:#000080;
    font-weight:bold;
}


.event-list {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.container-fluid{
    padding:0;
}

.nav-link {
    font-size: 16px;
    color: #808080;
    font-weight: bold !important;
    text-overflow: ellipsis !important;
    display:inline;
}

.nav-link:hover {
    color: #484848;
    text-decoration: underline;
    transition : 1s ease;
}

.navbar-custom{
    background: white;
    padding: 26px;
}

/** Header bannière **/
.business-header {
    min-height: 80vh;
    background: url('../img/home1.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.home-title {
    text-shadow: 2px 1px 40px rgba(22, 23, 31, 0.4) !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    margin-top: 220px;
    font-size: -webkit-calc(2.4vw + 9px) !important;
    font-size: -moz-calc(2.4vw + 9px) !important;
    font-size: calc(2.4vw + 12px) !important;
    line-height: -webkit-calc(3vw + 7px) !important;
    line-height: -moz-calc(3vw + 7px) !important;
    line-height: calc(3vw + 12px) !important;
    max-width: 80%;
}

.btn-custom {
    font-size: 19px !important;
    line-height: 15px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #ffffff !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    border-radius: 4px !important;
    border: 0px !important;
    background: #000080 !important;
    margin: 12px !important;
    margin-left: 16px !important;
    height: 48px !important;
    text-align: center !important;
    display: inline-block !important;
    float: right !important;
    white-space: nowrap !important;
    cursor: pointer;
}
/** barre de recherche **/
.search-bar {
    font-size: 19px !important;
    line-height: 24px !important;
    background-color: #ffffff !important;
    border-radius: 4px !important;
    padding: 0px !important;
    display: table !important;
    table-layout: fixed !important;
    height: 42px !important;
    width: 100% !important;
    position: relative !important;
    box-shadow: 0 2px 5px rgba(156,160,171,0.25) !important;
    border: 1px solid transparent !important;
}
/** input de recherche **/
.search-input {
    font-size: 15px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    background-color: transparent !important;
    border: 0px !important;
    padding: 11px !important;
    width: 100%;
    height: auto !important;
    font-weight: normal !important;
    text-overflow: ellipsis !important;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-icon {
    font-size: 19px !important;
    line-height: 24px !important;
    font-weight: normal !important;
    text-overflow: ellipsis !important;
    color: #484848 !important;
    padding-left: 12px !important;
    padding-top: 11px !important;
}

.recherche {
    color: #808080 !important;
}

/** Zone des HitCards **/
.card {
    width: auto;
    border: none;
}
.card-body{
    width: 100%;
    padding:5px;
}

.cardlink{
    text-decoration:none;
    color:black;
}

.cardlink:hover{
    text-decoration:none;
    color:black;
}

.card-title{
    font-weight:500;
    color: #222222;
}

.border-none {
    border-color: transparent !important;
}

/** Zone du Préfooter **/

pre-footer .container{
    border-top: 1px solid lightgrey;
}

#allevents{
    padding-bottom: 10px;
}

pre-footer li{
    list-style: none;
}

.pre-link{
    color:grey;
    text-decoration:none;
}

.pre-link:hover{
    text-decoration: none;
}

/** Zone du Footer **/
footer .bg-custom{
    background: white;
}

footer .container{
    border-top: 1px solid lightgrey;
    padding-top:20px;
}


/** Modal de Connexion de l'utilisateur **/
.modal-dialog {
    position: relative !important;
    margin: auto !important;
    top: 50%;
    transform: translate(0, -50%) !important;
    overflow: hidden;
}

.emoji{
    font-size:70px;
    text-align: center;
}

.lala
{
    text-align: center;
    padding-top: 25px;
}


/** Page OneEvent **/

.detailsEvent{
    color: black;
    text-shadow: 2px 1px 40px rgba(22, 23, 31, 0.4);
    text-align: center;
}

.detailsEvent h1{
    font-size: 40px !important;
    font-weight: 600;
    padding: 10px 0px 10px;
}

.detailsEvent ul{
    padding-top:8px;
}

.detailsEvent li{
    font-size: 22px !important;
    list-style:none;
}
.detailsEvent img{
    width:100%;
    max-height: 55vh;
}
.actionorga{
    position: fixed;
    top: 40%;
    right: -5px;
    box-shadow: 0 2px 5px rgba(156,160,171,0.25);
}

.separation {
    width: 80%;
    background: black;
}

/**Page - Dashboard/ - **/
.recapUser{
    border: 1px solid lightgrey;
}


.card {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    transition: all .3s ease-in-out;
    padding: 2.25rem 0;
    position: relative;
    will-change: transform;
}
.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #57e2b2;
    transition: 0.5s;
}
.card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}
.card:hover:after {
    width: 100%;
}
.card .card-header {
    background-color: white;
    padding-left: 2rem;
    border-bottom: 0px;
}
.card .card-title {
    margin-bottom: 1rem;
}
.card .card-block {
    padding-top: 0;
}
.card .list-group-item {
    border: 0px;
    padding: .25rem;
    color: #808080;
    font-weight: 300;
}

.display-2 {
    font-size: 7rem;
    letter-spacing: -.5rem;
}
.display-2 .currency {
    font-size: 2.75rem;
    position: relative;
    font-weight: 400;
    top: -45px;
    letter-spacing: 0px;
}
.display-2 .period {
    font-size: 1rem;
    color: #b3b3b3;
    letter-spacing: 0px;
}

.btn {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 500;
    color: #a6a6a6;
    border-radius: 0;
    padding: .75rem 1.25rem;
    letter-spacing: 1px;
}

.btn-gradient {
    background-color: #f2f2f2;
    transition: background .3s ease-in-out;
}
.btn-gradient:hover {
    color: white;
    background-color: #57e2b2;
}
