
    <div class="row text-center">
        {% for product in productEvent %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ product.type }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                    <a class="btn btn-success" href="#">Réserver</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>