{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
   <div class="col"
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../img/stand1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.type }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    </div>
  </div>
{% endblock %}